html {
  font-size: 18px;
  }

body {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1rem;
  background-color: white;
}

.container {
  max-width: 1050px;
  margin: auto;
}

@media only screen and (max-width: 480px) {
  .container {
    width: 100%;
  }
}

h1 {
  font-size: 2.15rem;
  color: #383838;
  font-weight: 700;
}

h2 {
  font-size: 1.9rem;
  color: #383838;
  font-weight: 700;
}

h4 {
  font-size: 1.25rem;
  color: #383838;
  font-weight: 500;
  line-height: 1.45rem;
}

h6 {
  font-size: 1.10rem;
  color: #383838;
  font-weight: 500;
}

p {
  font-weight: 400;
  font-size: .8rem;
  line-height: 1.1rem;
  color: gray;
}

span {
  font-size: .75rem;
  color: #383838;
  line-height: .95rem;
}


/* navigation bar section */
header {
  background-color: white;
}

header .container {
  display: flex;
  align-items: center;
  height: 64px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 2.75rem;
  padding-left: 24px;
}

.Colmar {
  font-size: 1rem;
  font-weight: 700;
}

.Academy {
  font-size: 1rem;
  font-weight: 400;
  color: gray;
}

nav {
  text-align: right;
  flex-grow: 1;
}

.desktop a {
  display: inline-block;
  padding-right: 16px;
  color: #383838;
  font-size: 1rem;
  cursor: auto;
  text-decoration: none;
}

.desktop a:hover {
  color: #808080;
}

.desktop a:active {
  color: #808080;
}

nav.mobile {
  display: none;
}

@media only screen and (max-width: 480px) {
  nav.desktop {
    display: none;
  }

  .logo {
    display: none;
  }

  nav.mobile {
    display: flex;
    align-items: center;
    padding-right: 24px;
    padding-left: 24px;
  }
}


/* Main Banner Section */
.main-banner {
  background-color: #DCDCDC;
  margin: 0 auto;
}

.main-banner .container {
  display: flex;
}

.left-section {
  width: 60%;
  padding: 32px 24px;
}

.left-section img {
  width: 100%;
}

.right-section {
  width: 440px;
}

.tagline {
  height: auto;
  padding-left: 20px;
  margin-right: 60px;
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
}

.tagline h4 {
  margin-top: 32px;
  margin-bottom: 32px;
}

.tagline a {
  background-color: #383838;
  color: white;
  padding-top: 16px;
  padding-bottom: 16px;
  text-align: center;
  text-decoration: none;
}

.tagline a:hover {
  background-color: #808080;
}

.tagline a:active {
  background-color: #808080;
}

@media only screen and (max-width: 800px) {
  .main-banner .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main-banner .left-section {
    width: 100%;
    padding: 0px 0px;
  }

  .right-section {
    width: 100%;
  }

  .tagline {
    margin: 32px 24px;
    padding-left: 0px;
    align-items: center;
  }

  .tagline a {
    width: 50%;
  }
}

@media only screen and (max-width: 480px) {
  .tagline a {
    width: 100%;
    background-color: #808080;
  }

  .tagline a:hover {
    opacity: .7;
  }

  .tagline a:active {
    opacity: .7;
  }
}


/* Keep Practicing Section */
.practice {
  display: flex;
}

.left-section h2 {
  padding-top: 32px;
}

.left-section p {
  padding: 24px 24px 24px 0px;
}

.content {
  padding: 16px 1px 16px 0px;
  width: 100%;
}

.content p {
  padding-top: 8px;
}

.content a {
  color: #4ba3f4;
  text-decoration: none;
  font-size: 14px;
  display: block;
  padding-top: .9rem;
}

.content a:hover {
  color: #9dcdf9;
  text-decoration: underline;
}

.content a:active {
  color: #9dcdf9;
  text-decoration: underline;
}

.practice .right-section {
  border-left: 1px solid #DCDCDC;
  padding: 16px 0px 32px 0px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.box {
  width: 100%;
  display: flex;
  align-items: center;
}

.box img.desktop {
  width: 35%;
  padding: 16px;
}

.box img.mobile {
  display: none;
}

.campus {
  border-top: 1px solid #DCDCDC;
  border-bottom: 1px solid #DCDCDC;
}

.lecture {
  background-color: #DCDCDC;
}

@media only screen and (max-width: 480px) {
  .practice .left-section {
    display: none;
  }

  .practice .right-section {
    border-left: 0px;
    padding: 16px 16px 32px 16px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }

  .lecture {
    background-color: white;
  }

  .campus {
    border-top: 0px;
    border-bottom: 0px;
    margin: 16px 0px;
  }

  .box {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .box img.desktop {
    display: none;
  }

  .box img.mobile {
    display: flex;
    width: 100%;
  }

  .content {
    padding: 0px;
    width: 100%;
    margin-top: 16px;
  }
}


/* Courses Section */
.learning {
  background-color: #F5F5F5;
  padding-bottom: 32px;
  display: flex;
}

.headline {
  width: 100%;
  text-align: center;
  margin: auto;
  padding-top: 32px;
  padding-bottom: 32px;
}

.courses-grid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  width: 80%;
  margin: 0 auto;
}

.courses-list {
  display: none;
}

.course {
  background-color: white;
  width: 32%;
  height: 16rem;
  margin-bottom: 20px;
}

.course img {
  width: 100%;
}

.course h6 {
  padding-bottom: 1rem;
}

.course p {
  padding-top: .55rem;
}

.course-content {
  padding: 16px 16px 24px 16px;
}

.course-content span {
  font-size: .8rem;
  color: gray;
}

@media only screen and (max-width: 480px) {
  .learning {
    border-top: 1px solid #DCDCDC;
    border-bottom: 1px solid #DCDCDC;
    background-color: white;
  }

  .learning .container {
    margin: 0 auto;
    width: 100%;
  }

  .courses-grid {
    display: none;
  }

  .courses-list {
    display: flex;
    flex-direction: column;
    padding-left: 16px;
    padding-right: 16px;
  }

.courses-list a {
    background-color: #DCDCDC;
    color: #383838;
    text-decoration: none;
    padding: 16px;
    margin-bottom: 8px;
    font-size: 1.4rem;
  }

  .courses-list a:hover {
      background-color: #F5F5F5;
    }

  .courses-list a:active {
      background-color: #F5F5F5;
    }
}


/* Thesis Section */
.flex {
  display: flex;
}

.left-section video {
  width: 100%;
  object-fit: contain;
}

.thesis p {
  padding-top: 16px;
  padding-bottom: 0px;
}

.thesis h6 {
  padding-top: 24px;
}

.thesis .box img {
  width: 35%;
  padding: 16px;
}

.thesis .first-info {
  margin-top: 32px;
}

@media only screen and (max-width: 480px) {
  .flex .right-section {
    display: none;
  }

  .flex .left-section {
    width: 100%;
    padding: 0px;
  }


  .flex .left-section p {
    display: none;
  }

  .flex .left-section h6 {
    display: none;
  }
}

/* Footer Section */
footer {
  border-top: 1px solid #DCDCDC;
  background-color: white;
  height: 3.5rem;
}

footer p {
  padding-left: 24px;
  padding-right: 24px;
  color: #383838;
}

footer .container {
  display: flex;
  align-items: center;
  margin-top: .75rem;
}

nav {
  /* text-align: right; */
  /* flex-grow: 1; */
}

.footer-nav a {
  display: inline-block;
  padding-right: 16px;
  color: #383838;
  font-size: .75rem;
  cursor: auto;
  text-decoration: none;
}

.footer-nav a:hover {
  color: #808080;
}

.footer-nav a:active {
  color: #808080;
}

@media only screen and (max-width: 480px) {
  footer {
    border-top: 0px;
  }

  footer .container {
    margin-top: 24px;
  }

  footer .footer-nav {
    display: none;
  }

  footer p {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
